
									<!-- Sidebar -->
										<section>
											<h3></h3>
											<p></p>
											<footer>
												<a href="#" class="button icon solid fa-info-circle">Find out more</a>
											</footer>
										</section>

										<section>
											<h3>Trending</h3>
											<ul class="style2">
												<li><a href="#">Random link</a></li>
												
											</ul>
										</section>

								</div>